<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calculator</title>
</head>

<body>
<h1 style="text-align: center;" class="titulo">{{title}} </h1>
<div style="text-align: center;" class="container">
<form>

  Number 1:<input type="number" [(ngModel)]="numero1" name="numero1"><br/>
  Number 2:<input type="number" [(ngModel)]="numero2" name="numero2"><br/>

  <input type="submit" value="sumar" (click)="sumar()" class="btn btn-outline-success">
  <input type="submit" value="restar"(click)="restar()" class="btn btn-outline-primary">
  <input type="submit" value="multiplicar" (click)="multiplicar()" class="btn btn-outline-dark">
  <input type="submit" value="dividir" (click)="dividir()" class="btn btn-outline-danger"> <br/>

</form>
</div>
  
  
</body>
<p style="font-weight:bold; padding:10px; border:2px solid rgb(7, 60, 16); border-radius:10px; text-align: center;">Resultado: {{resultado}}</p>
</html>



